<form class="eqp-modifier-browser-form gum-browser" autocomplete="off">
    <div class="browser-container">
        
        {{!-- Sidebar (Filtros) --}}
        <div class="browser-sidebar">
            
            <div class="filter-group">
                <h3 class="filter-title">Buscar</h3>
                <div class="search-box">
                    <input type="text" name="search" placeholder="Nome ou Tags..." value="{{filters.search}}" autocomplete="off">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            {{!-- Checkboxes de Categoria --}}
            <div class="filter-group">
                <h3 class="filter-title">Categoria</h3>
                <div class="radio-filter-list">
                    
                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="all" {{checked filters.categories.all}}>
                        <span>Todos</span>
                    </label>
                    
                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="general" {{checked filters.categories.general}}>
                        <span>Geral / Materiais</span>
                    </label>
                    
                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="enchantment" {{checked filters.categories.enchantment}}>
                        <span>Encantamentos</span>
                    </label>

                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="melee" {{checked filters.categories.melee}}>
                        <span>Armas C.C.</span>
                    </label>
                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="ranged" {{checked filters.categories.ranged}}>
                        <span>Armas Dist.</span>
                    </label>

                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="armor" {{checked filters.categories.armor}}>
                        <span>Armaduras</span>
                    </label>
                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="shield" {{checked filters.categories.shield}}>
                        <span>Escudos</span>
                    </label>
                    
                    <label class="filter-radio">
                        <input type="checkbox" class="category-filter" value="ammo" {{checked filters.categories.ammo}}>
                        <span>Munição</span>
                    </label>
                </div>
            </div>

            <div class="filter-group">
                <h3 class="filter-title">Fator de Custo (CF)</h3>
                <div class="cf-range-inputs">
                    <input type="number" name="cfMin" placeholder="Min" step="0.1">
                    <span class="range-sep">-</span>
                    <input type="number" name="cfMax" placeholder="Max" step="0.1">
                </div>
            </div>
        </div>

        {{!-- Lista de Resultados --}}
        <main class="browser-content">
            <ol class="results-list">
                {{#each modifiers}}
                <li class="result-item" 
                     data-id="{{this.id}}" 
                     data-cf="{{this.system.cost_factor}}"
                     data-tags="{{this.system.tags}}"
                     data-cat-general="{{this.system.target_type.general}}"
                     data-cat-enchantment="{{this.system.target_type.enchantment}}"
                     data-cat-melee="{{this.system.target_type.melee}}"
                     data-cat-ranged="{{this.system.target_type.ranged}}"
                     data-cat-armor="{{this.system.target_type.armor}}"
                     data-cat-shield="{{this.system.target_type.shield}}"
                     data-cat-ammo="{{this.system.target_type.ammo}}"
                     >
                     
                    <div class="item-icon">
                        {{#if this.displayImg}}
                            <img src="{{this.displayImg}}" alt="{{this.name}}">
                        {{/if}}
                    </div>
                    
                    <div class="item-info">
                        <span class="item-name">{{this.name}}</span>
                    </div>

                    <div class="item-actions">
                        <button type="button" class="browser-quick-view" data-id="{{this.id}}" title="Ver detalhes">
                            <i class="fas fa-eye"></i>
                        </button>
                        <label class="item-select">
                            <input type="checkbox" name="{{this.id}}">
                        </label>
                    </div>
                </li>
                {{else}}
                <li class="placeholder-text">Nenhum modificador de equipamento encontrado.</li>
                {{/each}}
            </ol>
        </main>
    </div>

    <footer class="browser-footer">
        <button type="submit" name="submit">
            <i class="fas fa-plus"></i> Adicionar Selecionados
        </button>
    </footer>
</form>