<form class="modifier-browser-form gum-browser" autocomplete="off">
    <div class="browser-container">
        
        {{!-- SIDEBAR DE FILTROS --}}
        <aside class="browser-sidebar">
            
            {{!-- Busca --}}
            <div class="filter-group">
                <h3 class="filter-title">Buscar</h3>
                <div class="search-box">
                    <input type="text" name="search" placeholder="Nome...">
                    <i class="fas fa-search"></i>
                </div>
            </div>

            {{!-- Filtro de Valor --}}
            <div class="filter-group">
                <h3 class="filter-title">Tipo</h3>
                <label class="filter-check"><input type="checkbox" name="filter-bonus" checked> <span>Bônus (+)</span></label>
                <label class="filter-check"><input type="checkbox" name="filter-penalty" checked> <span>Penalidade (-)</span></label>
            </div>
            
            {{!-- Filtro de Categorias --}}
            <div class="filter-group category-filter">
                <h3 class="filter-title">Categorias</h3>
                <label class="filter-check"><input type="checkbox" value="location"> <span>Pontos de Impacto</span></label>
                <label class="filter-check"><input type="checkbox" value="maneuver"> <span>Manobras</span></label>
                <label class="filter-check"><input type="checkbox" value="attack_opt"> <span>Opções de Ataque</span></label>
                <label class="filter-check"><input type="checkbox" value="defense_opt"> <span>Opções de Defesa</span></label>
                <label class="filter-check"><input type="checkbox" value="posture"> <span>Cobertura e Postura</span></label>
                <label class="filter-check"><input type="checkbox" value="range"> <span>Distância e Velocidade</span></label>
                <label class="filter-check"><input type="checkbox" value="terrain_light"> <span>Terreno e Iluminação</span></label>
                <label class="filter-check"><input type="checkbox" value="state_affliction"> <span>Estado e Atribulações</span></label>
                <label class="filter-check"><input type="checkbox" value="task_difficulty"> <span>Dificuldade da Tarefa</span></label>
                <label class="filter-check"><input type="checkbox" value="ritual"> <span>Operação Mágica</span></label>
                <label class="filter-check"><input type="checkbox" value="power_operation"> <span>Operação de Poderes</span></label>
                <label class="filter-check"><input type="checkbox" value="time"> <span>Modo de Execução</span></label>
                <label class="filter-check"><input type="checkbox" value="effort"> <span>Esforço Adicional</span></label>
                <label class="filter-check"><input type="checkbox" value="situation"> <span>Cenário</span></label>
                <label class="filter-check"><input type="checkbox" value="equipment"> <span>Equipamento</span></label>
                <label class="filter-check"><input type="checkbox" value="other"> <span>Customizado</span></label>
            </div>

        </aside>

        {{!-- LISTA DE RESULTADOS --}}
        <main class="browser-content">
            <ol class="results-list">
                {{#each modifiers}}
                <li class="result-item" data-id="{{this.id}}" data-category="{{this.system.ui_category}}" data-val="{{this.system.modifier}}">
                    
                    <div class="item-icon">
                        {{#if this.displayImg}}
                            <img src="{{this.displayImg}}" alt="{{this.name}}"/>
                        {{/if}}
                    </div>

                    <div class="item-info">
                        <span class="item-name">{{this.name}}</span>
                        <span class="item-details">{{this.modifierSubtitle}}</span>
                    </div>

                    <div class="item-actions">
                        <button type="button" class="browser-quick-view" data-id="{{this.id}}" title="Ver detalhes">
                            <i class="fas fa-eye"></i>
                        </button>
                        <label class="item-select">
                            <input type="checkbox" name="{{this.id}}"/>
                        </label>
                    </div>
                </li>
                {{/each}}
                
                {{#unless modifiers}}
                <li class="placeholder-text">
                    Nenhum modificador encontrado no compêndio "[GUM] Modificadores de Rolagem".
                </li>
                {{/unless}}
            </ol>
        </main>
    </div>

    {{!-- RODAPÉ FIXO --}}
    <footer class="browser-footer">
        <button type="submit"><i class="fas fa-plus-circle"></i> Adicionar Selecionados</button>
    </footer>
</form>