<form class="{{cssClass}} gum-item-sheet" autocomplete="off">

{{!-- Cabeçalho da Ficha --}}
<header class="sheet-header">
  <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
  <div class="header-info">
    <div class="header-main-line">
      <input name="name" type="text" value="{{item.name}}" placeholder="Nome do Item" />
      <span class="item-tag small-tag">{{lookup (object 
        armor="Armadura" melee_weapon="Arma C. a C." ranged_weapon="Arma à Dist." 
        equipment="Equipamento" skill="Perícia" spell="Magia" 
        advantage="Vantagem" disadvantage="Desvantagem" power="Poder"
      ) item.type}}</span>
    </div>
  </div>
</header>

{{!-- NOVA ESTRUTURA COM ABAS --}}
<section class="sheet-content">

  {{!-- 1. Navegação das Abas --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Descrição</a>
    <a class="item active" data-tab="details">Detalhes</a>
  </nav>

  {{!-- 2. Corpo das Abas --}}
  <section class="sheet-body-content">

    {{!-- Aba "Detalhes" --}}
    <div class="tab active" data-tab="details">
       {{!-- Equipamento Genérico --}}
  {{#if (eq item.type "equipment")}}
    <div class="armor-field"><label>Quantidade</label><input type="number" name="system.quantity" value="{{item.system.quantity}}"/></div>
    <div class="armor-field"><label>Custo</label><input type="number" name="system.cost" value="{{item.system.cost}}"/></div>
    <div class="armor-field"><label>Peso</label><input type="number" step="0.1" name="system.weight" value="{{item.system.weight}}"/></div>
          <div class="armor-field">
            <label>Nível Tecnológico (NT)</label>
            <input type="text" name="system.tech_level" value="{{system.tech_level}}"/>
          </div>
          <div class="armor-field">
            <label>Classe de Legalidade (CL)</label>
            <input type="text" name="system.legality_class" value="{{system.legality_class}}"/>
          </div>
          <div class="armor-field">
            <label>Material</label>
            <input type="text" name="system.material" value="{{system.material}}"/>
          </div>
          <div class="armor-field">
            <label>Qualidade</label>
            <input type="text" name="system.quality" value="{{system.quality}}"/>
          </div>
        
        <div class="armor-field">
            <label>Ref. Página</label>
            <input type="text" name="system.ref" value="{{system.ref}}"/>    
    </div> 
  {{/if}}

  {{!-- Arma Corpo a Corpo --}}
  {{#if (eq item.type "melee_weapon")}}
    <h4 class="section-title">Geral</h4>
    <div class="form-grid-3">
      <div class="armor-field"><label>Quantidade</label><input type="number" name="system.quantity" value="{{item.system.quantity}}"/></div>
      <div class="armor-field"><label>Custo</label><input type="number" name="system.cost" value="{{item.system.cost}}"/></div>
      <div class="armor-field"><label>Peso</label><input type="number" step="0.1" name="system.weight" value="{{item.system.weight}}"/></div>
          <div class="armor-field">
            <label>Nível Tecnológico (NT)</label>
            <input type="text" name="system.tech_level" value="{{system.tech_level}}"/>
          </div>
          <div class="armor-field">
            <label>Classe de Legalidade (CL)</label>
            <input type="text" name="system.legality_class" value="{{system.legality_class}}"/>
          </div>
          <div class="armor-field">
            <label>Material</label>
            <input type="text" name="system.material" value="{{system.material}}"/>
          </div>
          <div class="armor-field">
            <label>Qualidade</label>
            <input type="text" name="system.quality" value="{{system.quality}}"/>
          </div>
        </div>
        <div class="armor-field">
            <label>Ref. Página</label>
            <input type="text" name="system.ref" value="{{system.ref}}"/>    
    </div>
    
    <h4 class="section-title">Combate</h4>
    <div class="form-grid-2">
      <div class="armor-field"><label>Dano</label><input type="text" name="system.damage_formula" value="{{item.system.damage_formula}}"/></div>
      <div class="armor-field"><label>Tipo de Dano</label><input type="text" name="system.damage_type" value="{{item.system.damage_type}}"/></div>
      <div class="armor-field"><label>Alcance</label><input type="text" name="system.reach" value="{{item.system.reach}}"/></div>
      <div class="armor-field"><label>Aparar</label><input type="text" name="system.parry" value="{{item.system.parry}}"/></div>
      <div class="armor-field"><label>Força Mínima</label><input type="number" name="system.min_strength" value="{{item.system.min_strength}}"/></div>
    </div>
  {{/if}}

  {{!-- Arma a Distância --}}
  {{#if (eq item.type "ranged_weapon")}}
    <h4 class="section-title">Geral</h4>
    <div class="form-grid-3">
        <div class="armor-field"><label>Quantidade</label><input type="number" name="system.quantity" value="{{item.system.quantity}}"/></div>
        <div class="armor-field"><label>Custo</label><input type="number" name="system.cost" value="{{item.system.cost}}"/></div>
        <div class="armor-field"><label>Peso</label><input type="number" step="0.1" name="system.weight" value="{{item.system.weight}}"/></div>
          <div class="armor-field">
            <label>Nível Tecnológico (NT)</label>
            <input type="text" name="system.tech_level" value="{{system.tech_level}}"/>
          </div>
          <div class="armor-field">
            <label>Classe de Legalidade (CL)</label>
            <input type="text" name="system.legality_class" value="{{system.legality_class}}"/>
          </div>
          <div class="armor-field">
            <label>Material</label>
            <input type="text" name="system.material" value="{{system.material}}"/>
          </div>
          <div class="armor-field">
            <label>Qualidade</label>
            <input type="text" name="system.quality" value="{{system.quality}}"/>
          </div>
        </div>
        <div class="armor-field">
            <label>Ref. Página</label>
            <input type="text" name="system.ref" value="{{system.ref}}"/>    
    </div>
 
   <h4 class="section-title">Combate</h4>
    <div class="form-grid-2">
      <div class="armor-field"><label>Dano</label><input type="text" name="system.damage_formula" value="{{item.system.damage_formula}}"/></div>
      <div class="armor-field"><label>Tipo de Dano</label><input type="text" name="system.damage_type" value="{{item.system.damage_type}}"/></div>
      <div class="armor-field"><label>Precisão (Prec)</label><input type="text" name="system.accuracy" value="{{item.system.accuracy}}"/></div>
      <div class="armor-field"><label>Distância</label><input type="text" name="system.range" value="{{item.system.range}}"/></div>
      <div class="armor-field"><label>CdT</label><input type="text" name="system.rof" value="{{item.system.rof}}"/></div>
      <div class="armor-field"><label>Tiros</label><input type="text" name="system.shots" value="{{item.system.shots}}"/></div>
      <div class="armor-field"><label>RCO</label><input type="text" name="system.rcl" value="{{item.system.rcl}}"/></div>
      <div class="armor-field"><label>Força Mínima</label><input type="number" name="system.min_strength" value="{{item.system.min_strength}}"/></div>
    </div>
  {{/if}}
  
  {{!-- Armadura --}}
  {{#if (eq item.type "armor")}}
    <div class="gum-armor-sheet-layout">
      <div class="armor-group general-info">
        <div class="armor-field"><label>Quantidade</label><input type="number" name="system.quantity" value="{{item.system.quantity}}" /></div>
        <div class="armor-field"><label>Preço</label><input type="number" name="system.cost" value="{{item.system.cost}}" /></div>
        <div class="armor-field"><label>Peso</label><input type="number" step="0.1" name="system.weight" value="{{item.system.weight}}" /></div>
        <div class="armor-field"><label>Qualidade</label><input type="text" name="system.quality" value="{{item.system.quality}}" /></div>
        <div class="armor-field"><label>Material</label><input type="text" name="system.material" value="{{item.system.material}}" /></div>
        <div class="armor-field"><label>Nível Tecnológico (NT)</label>
            <input type="text" name="system.tech_level" value="{{system.tech_level}}"/>
            </div>
        <div class="armor-field"><label>Classe de Legalidade (CL)</label>
    <input type="text" name="system.legality_class" value="{{system.legality_class}}"/>
  </div>
  <div class="armor-field">
    <label>Ref. Página</label>
    <input type="text" name="system.ref" value="{{system.ref}}"/>
      </div>
</div>

      <div class="armor-group protection-info">
        <h4 class="group-title">Proteção</h4>
        <div class="protection-grid">
          <div class="armor-field dr-field"><label>RD</label><input type="number" name="system.dr" value="{{item.system.dr}}" /></div>
          <div class="armor-body-grid">{{#each (array "torso" "head" "face" "eyes" "neck" "vitals" "groin" "arms" "hands" "legs" "feet") as |loc|}}<label class="body-part-checkbox"><input type="checkbox" name="system.worn_locations" value="{{loc}}" {{#if (includes ../item.system.worn_locations loc)}}checked{{/if}} /> {{lookup (object torso="Torso" head="Cabeça" face="Rosto" eyes="Olhos" neck="Pescoço" vitals="Órg. Vitais" groin="Virilha" arms="Braços" hands="Mãos" legs="Pernas" feet="Pés") loc}}</label>{{/each}}</div>
        </div>
      </div>
     
    </div>
  {{/if}}

  {{!-- Vantagens e Desvantagens --}}
  {{#if (or (eq item.type "advantage") (eq item.type "disadvantage"))}}
    <div class="armor-field"><label>Bloco</label><select name="system.block_id">{{selectOptions characteristic_blocks selected=system.block_id}}</select></div>
    <div class="armor-field"><label>Custo em Pontos</label><input type="number" name="system.points" value="{{system.points}}"/></div>
    <div class="armor-field">
      <label>Nível</label>
      <input type="text" name="system.level" value="{{system.level}}"/>
    </div>
    <div class="armor-field">
      <label>Rolagem de Auto-Controle</label>
      <input type="text" name="system.self_control_roll" value="{{system.self_control_roll}}"/>
    </div>
    <div class="armor-field">
      <label>Ref. Página</label>
      <input type="text" name="system.ref" value="{{system.ref}}"/>
    </div>
  {{/if}}
  
  {{!-- Perícia --}}
  {{#if (eq item.type "skill")}} 
    <div class="form-grid-2">
      <div class="armor-field"><label>Grupo</label><input type="text" name="system.group" value="{{system.group}}"/></div>
      <div class="armor-field"><label>Pontos</label><input type="number" name="system.points" value="{{item.system.points}}"/></div>
      <div class="armor-field"><label>Atributo Base</label><input type="text" name="system.base_attribute" value="{{item.system.base_attribute}}"/></div>
      <div class="armor-field"><label>Nível da Perícia</label><input type="number" name="system.skill_level" value="{{item.system.skill_level}}"/></div>
      <div class="armor-field"><label>Modificadores</label><input type="number" name="system.other_mods" value="{{item.system.other_mods}}"/></div>
        <div class="armor-field">
  <div class="armor-field">
  <label>Dificuldade</label>
  <input type="text" name="system.difficulty" value="{{system.difficulty}}"/>
</div>
</div>
<div class="armor-field">
    <label>Ref. Página</label>
    <input type="text" name="system.ref" value="{{system.ref}}"/>
</div>
    </div>
  {{/if}}
  
  {{!-- Magia --}}
  {{#if (eq item.type "spell")}}
    <div class="form-grid-2">
      <div class="armor-field"><label>Classe</label><input type="text" name="system.spell_class" value="{{item.system.spell_class}}"/></div>
      <div class="armor-field"><label>Escola</label><input type="text" name="system.spell_school" value="{{item.system.spell_school}}"/></div>
      <div class="armor-field"><label>Pontos</label><input type="number" name="system.points" value="{{item.system.points}}"/></div>
      <div class="armor-field"><label>Atributo Base</label><input type="text" name="system.base_attribute" value="{{item.system.base_attribute}}"/></div>
      <div class="armor-field"><label>Nível</label><input type="number" name="system.skill_level" value="{{item.system.skill_level}}"/></div>
      <div class="armor-field"><label>Modificadores</label><input type="number" name="system.other_mods" value="{{item.system.other_mods}}"/></div>
      <div class="armor-field"><label>Tempo</label><input type="text" name="system.casting_time" value="{{item.system.casting_time}}"/></div>
      <div class="armor-field"><label>Duração</label><input type="text" name="system.duration" value="{{item.system.duration}}"/></div>
      <div class="armor-field"><label>Custo de Mana</label><input type="text" name="system.mana_cost" value="{{item.system.mana_cost}}"/></div>
      <div class="armor-field"><label>Manutenção</label><input type="text" name="system.mana_maint" value="{{item.system.mana_maint}}"/></div>
    <div class="armor-field">
  <div class="armor-field">
  <label>Dificuldade</label>
  <input type="text" name="system.difficulty" value="{{system.difficulty}}"/>
</div>
</div>
<div class="armor-field">
  <label>Fonte</label>
  <input type="text" name="system.source" value="{{system.source}}"/>
</div>
<div class="armor-field">
  <label>Resistência</label>
  <input type="text" name="system.resistance" value="{{system.resistance}}"/>
</div>
<div class="armor-field">
    <label>Ref. Página</label>
    <input type="text" name="system.ref" value="{{system.ref}}"/>
</div>
    </div>
    
    <h4 class="section-title">Dano da Magia</h4>
    <div class="form-grid-2">
      <div class="armor-field"><label>Fórmula de Dano</label><input type="text" name="system.damage.formula" value="{{item.system.damage.formula}}"/></div>
      <div class="armor-field"><label>Tipo de Dano</label><input type="text" name="system.damage.damage_type" value="{{item.system.damage.damage_type}}"/></div>
    </div>
  {{/if}}
  
  {{!-- Poder --}}
  {{#if (eq item.type "power")}}
    <div class="form-grid-2">
      <div class="armor-field"><label>Pontos</label><input type="number" name="system.points" value="{{item.system.points}}"/></div>
      <div class="armor-field"><label>Atributo Base</label><input type="text" name="system.base_attribute" value="{{item.system.base_attribute}}"/></div>
      <div class="armor-field"><label>Nível</label><input type="number" name="system.skill_level" value="{{item.system.skill_level}}"/></div>
      <div class="armor-field"><label>Modificadores</label><input type="number" name="system.other_mods" value="{{item.system.other_mods}}"/></div>
      <div class="armor-field"><label>Classe do Poder</label><input type="text" name="system.spell_class" value="{{item.system.spell_class}}"/></div>
      <div class="armor-field"><label>Tempo de Ativação</label><input type="text" name="system.activation_time" value="{{item.system.activation_time}}"/></div>
      <div class="armor-field"><label>Duração</label><input type="text" name="system.duration" value="{{item.system.duration}}"/></div>
      <div class="armor-field"><label>Custo de Ativação (FP)</label><input type="text" name="system.activation_cost" value="{{item.system.activation_cost}}"/></div>
    <div class="armor-field">
  <label>Fonte</label>
  <input type="text" name="system.source" value="{{system.source}}"/>
</div>
<div class="armor-field">
  <label>Resistência</label>
  <input type="text" name="system.resistance" value="{{system.resistance}}"/>
</div>
<div class="armor-field">
    <label>Ref. Página</label>
    <input type="text" name="system.ref" value="{{system.ref}}"/>
</div>
    </div>
    
    <h4 class="section-title">Dano do Poder</h4>
    <div class="form-grid-2">
      <div class="armor-field"><label>Fórmula de Dano</label><input type="text" name="system.damage.formula" value="{{item.system.damage.formula}}"/></div>
      <div class="armor-field"><label>Tipo de Dano</label><input type="text" name="system.damage.damage_type" value="{{item.system.damage.damage_type}}"/></div>
    </div>
  {{/if}}
    </div>

    {{!-- Conteúdo da Aba "Descrição" --}}
   {{!-- Conteúdo da Aba "Descrição" --}}
<div class="tab" data-tab="description">

    {{!-- Campo de Descrição Geral --}}
    <div class="item-section">
        <h4 class="group-title">Descrição</h4>
        <div class="editable-text-container">
            {{!-- Área onde o texto final será exibido. Usamos a variável enriquecida do JS. --}}
            <div class="rendered-text">{{{enrichedDescription}}}</div>
            {{!-- Botão para abrir o pop-up de edição. O 'data-target' nos diz qual campo editar. --}}
            <a class="edit-text-btn" data-target="system.description" title="Editar Descrição">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </div>

    {{!-- Campo de Descrição para o Chat --}}
    <div class="item-section">
        <h4 class="group-title">Descrição para o Chat</h4>
        <div class="editable-text-container">
            {{!-- Área para o texto do chat --}}
            <div class="rendered-text">{{{enrichedChatDescription}}}</div>
            {{!-- Botão para editar o texto do chat --}}
            <a class="edit-text-btn" data-target="system.chat_description" title="Editar Descrição para o Chat">
                <i class="fas fa-edit"></i>
            </a>
        </div>
    </div>

</div>


      
  </section>
</section>

